

body{
	margin:0px;
	padding:0px;
	background-color: #014B70;
	background:url(images/binding_dark.png);
	}


#blockMenu{
	width:100%;
	height:57px;
	box-shadow:5px 5px 10px black;
	background-color: rgba(100, 100, 100, 0.0);
	background:url(images/16x16menu.png)
	}
	
	
nav{
    display: inline-block;
    text-align: center;
    width: 99%;
	}

  
nav ul{
  margin: auto;
  }

  
nav li{
	padding:0; 
	text-align:center;
	min-width:175px;
	list-style-type:none;
	display:inline-block;
	}	
	

nav a{
	color:#FFF;
	text-decoration:none;
	font-family: "Gill Sans MT"; 
	font-weight:bold;
	font-size:24px;
	font-weight:normal;
	line-height:57px;
	height:57px;
	text-align:center;
	text-transform:uppercase;
	min-width:175px;
	margin: auto;
	}

nav a:hover{
	text-decoration:underline;
	}


#baniere{
	width:720px;
	height:270px;
	margin:auto;
	padding-left:10px;
	padding-right: 10px;
	}

#mainContent{
	width:600px;
	height:800px;
	margin:auto;
	margin-top:50px;
	padding-left:10px;
	padding-right: 10px;
	color:white;
	}

#buttonDL{
	width:200px;
	height:40px;
	background: rgba(360,360,360,0.7);
	margin:auto;
	text-align: center;
	font-family: "Calibri";
	font-size: 20px;
	padding-top:10px;
}

#buttonDL a{
	 color: #309C00; 
 	text-decoration: none; 
	font-weight:bold; 
}

#buttonDL a:hover{
 	text-decoration: underline; 
}


video{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

footer{
	width:100%;
	height:200px;
	margin:auto;
	margin-top:100px;
	margin-bottom:20px;
	font-family:"calibri";
	text-align:center;
	color: #FFF;
	}

p{
	text-align: left;
	font-family:"Gill Sans MT";
	font-size: 20px;
	}

h4{
	text-align: center;
	font-family: "Calibri", sans-serif;
	font-size: 10px;
	padding-top: 20px;
	}
